.navbar{
    background-color: rgb(233, 141, 21);
    text-transform: uppercase;
}

.logo{
    border-radius: 50%;
    width: 70px;
}

.mission{
    background-color: rgb(233, 233, 130);
}

.mission h1{
   color: rgb(128, 41, 41);
   text-align: center;
}

.form{
    background-color: rgb(221, 224, 224);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    border-radius: 10px;
    word-spacing: 2px;
}

.form h3{
    text-align: center;
    font-weight: 500;
}