.navbar{
    background-color: rgb(233, 141, 21);
    text-transform: uppercase;
}

.logo{
    border-radius: 50%;
    width: 70px;
}

.mission{
    background-color: rgb(233, 233, 130);
    justify-content: center;
    text-align: center;
    text-align: justify;
}

.mission h1{
   color: rgb(128, 41, 41);
   text-align: center;
   margin-top: 30px;
}

.form{
    background-color: rgb(221, 224, 224);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    border-radius: 10px;
    word-spacing: 2px;
  
}

.form h3{
    text-align: center;
    font-weight: 500;
}

.vission{
    background-color: rgb(143, 143, 69);
    justify-content: center;
    text-align: center;
    text-align: justify;
}

.vission h1{
   color: rgb(128, 41, 41);
   text-align: center;
   margin-top: 50px;
}
.vission p{
    margin-top: 25px;
}
.mission p{
    margin-top: 25px;
}

.form button{
    padding: 15px;
    background-color: yellowgreen;
    color: black;
    font-size: 18px;
    border: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}