.navbar {
    background-color: rgb(233, 141, 21);
    text-transform: uppercase;
}

.logo {
    border-radius: 50%;
    width: 70px;
}
.nav-btn{
    border: none;
    background-color:rgb(233, 141, 21) ;
    
    
}

.row p {
    text-align: justify;
}

.row h4 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(160, 4, 4)
}

.hover-zoom {
    transform: scale(1);
    transition: all 2s;

}

.hover-zoom:hover {
    transform: scale(1.2);

}

.card img {
    width: 300px !important;
    height: 300px !important;
}
.info{
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: 'Times New Roman', Times, serif;
  
}

.quality h1{
    text-align: center;
}

.graph img{
    width: 100%;
}
.graph h3{
    text-align: center;
    color: red;
}

.provider h3{
    text-align: center;
    color: red;
}

.quality img{
    width: 100%;
    
}
.address1{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    text-align: center;
}
.address2{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    text-align: center;
}
.phone{
    font-size: 10px;
}

.icons a{
    color: black ;
    font-size: 20px;
}

footer{
    background-color:  rgb(179, 179, 179);
}
.info{
    
    text-transform: uppercase;
    color: black;
    font-family: 'Times New Roman', Times, serif;
  
}
.loc1 img{
    width: 50%;
    height: 50%;
    
}
.fa{
    font-size: 50px;
    padding: 10px;
    text-decoration: none;
    
}
.package h1{
    text-align: center;
    color: red;
}

.footer-section {
    background: #151414;
    position: relative;
  }
  .footer-cta {
    border-bottom: 1px solid #373636;
  }
  .single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
  }
  .cta-text {
    padding-left: 15px;
    display: inline-block;
  }
  .cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  .cta-text span {
    color: #757575;
    font-size: 15px;
  }
  .footer-content {
    position: relative;
    z-index: 2;
  }
  .footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
  }
  .footer-logo {
    margin-bottom: 30px;
  }
  .footer-logo img {
      max-width: 200px;
  }
  .footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
        color: #7e7e7e;
    line-height: 28px;
  }
  .footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }
  .footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }
  .footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }
  
  
  
  
  
  
  
  
  .copyright-area{
    background: #202020;
    padding: 25px 0;
  }
  .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
  }
  .copyright-text p a{
    color: #ff5e14;
  }