.navbar {
    background-color: rgb(233, 141, 21);
    text-transform: uppercase;
}

.logo {
    border-radius: 50%;
    width: 70px;
}
.nav-btn{
    border: none;
    background-color:rgb(233, 141, 21) ;
    
    
}

.row p {
    text-align: justify;
}

.row h4 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(160, 4, 4)
}

.hover-zoom {
    transform: scale(1);
    transition: all 2s;

}

.hover-zoom:hover {
    transform: scale(1.2);

}

.card img {
    width: 300px !important;
    height: 300px !important;
}
.info{
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: 'Times New Roman', Times, serif;
  
}

.quality h1{
    text-align: center;
}

.graph img{
    width: 100%;
}
.graph h3{
    text-align: center;
    color: red;
}

.provider h3{
    text-align: center;
    color: red;
}

.quality img{
    width: 100%;
    
}
.address1{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    text-align: center;
}
.address2{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    text-align: center;
}
.phone{
    font-size: 10px;
}

.icons a{
    color: black ;
    font-size: 20px;
}

footer{
    background-color:  rgb(179, 179, 179);
}
.info{
    
    text-transform: uppercase;
    color: black;
    font-family: 'Times New Roman', Times, serif;
  
}
.loc1 img{
    width: 50%;
    height: 50%;
    
}
.fa{
    font-size: 50px;
    padding: 10px;
    text-decoration: none;
    
}
.package h1{
    text-align: center;
    color: red;
}

