.navbar {
    background-color: rgb(233, 141, 21);
    text-transform: uppercase;
}

.logo {
    border-radius: 50%;
    width: 70px;
}

.row p {
    text-align: justify;
}

.row h4 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(160, 4, 4)
}

.hover-zoom {
    transform: scale(1);
    transition: all 2s;

}

.hover-zoom:hover {
    transform: scale(1.2);

}

.card img {
    width: 300px !important;
    height: 300px !important;
}
.info{
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: 'Times New Roman', Times, serif;
  
}

.quality h1{
    text-align: center;
}

.graph img{
    width: 100%;
}
.graph h3{
    text-align: center;
    color: red;
}

.provider h3{
    text-align: center;
    color: red;
}

.quality img{
    width: 100%;
    
}