.navbar{
    background-color: rgb(233, 141, 21);
    text-transform: uppercase;
}

.logo{
    border-radius: 50%;
    width: 70px;
}

.hero{
    background: url(main.jpg) no-repeat;
    height: 700px;
    background-size: cover;
}

.row p{
text-align: justify;
}

.row h4{
    text-align: center;
    text-transform: uppercase;
    color: rgb(160, 4, 4)
}

.hover-zoom{
    transform: scale(1);
    transition: all 2s;

}
.hover-zoom:hover{
    transform: scale(1.2);
    
}
.card img{
    width: 300px !important;
    height: 300px !important;
}

.info{
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: 'Times New Roman', Times, serif;
  
}

footer{
    background-color: rgb(233, 141, 21);
}

.ftimg img{
    border-radius: 50%;
    width: 40%;
}
.fa{
    font-size: 50px;
    padding: 15px;
    text-decoration: none;
    
}

.card-body{
    
  
    font-size: 14px !important;
}
.mission{
    background-color: rgb(241, 241, 241);
    justify-content: center;
    text-align: center;
    text-align: justify;
}

.mission h1{
   color: rgb(128, 41, 41);
   text-align: center;
   margin-top: 30px;
}





.vission{
    
    justify-content: center;
    text-align: center;
    text-align: justify;
}

.vission h1{
   color: rgb(128, 41, 41);
   text-align: center;
   margin-top: 50px;
}
.vission p{
    margin-top: 25px;
}
.mission p{
    margin-top: 25px;
}

.offgrid img{
    width: 40%;
    margin-left: 17%;
}
.ongrid img{
    width: 40%;
    margin-left: 17%;
}
.netmetering img{
    width: 40%;
    margin-left: 17%;
}
.hybrid img{
    width: 40%;
  
    margin-left: 17%;
}