.navbar{
    background-color: rgb(233, 141, 21);
    text-transform: uppercase;
}
.nav-btn{
    border: none;
    background-color:rgb(233, 141, 21) ;
   

}

.logo{
    border-radius: 50%;
    width: 70px;
}

.hero{
    background: url(main.jpg) no-repeat;
    height: 700px;
    background-size: cover;
}

.row p{
text-align: justify;
}

.row h4{
    text-align: center;
    text-transform: uppercase;
    color: rgb(160, 4, 4)
}

.hover-zoom{
    transform: scale(1);
    transition: all 2s;

}
.hover-zoom:hover{
    transform: scale(1.2);
    
}
.card img{
    width: 300px !important;
    height: 300px !important;
}

.info{
    
    text-transform: uppercase;
    color: black;
    font-family: 'Times New Roman', Times, serif;
  
}

footer{
    background-color:  rgb(179, 179, 179);
}

.ftimg img{
    border-radius: 50%;
    width: 40%;
}


.card-body{
    
  
    font-size: 14px !important;
}
.mission{
    background-color: rgb(241, 241, 241);
    justify-content: center;
    text-align: center;
    text-align: justify;
}

.mission h1{
   color: rgb(128, 41, 41);
   font-size: 24px;
   margin-top: 30px;
}





.vission{
    
    justify-content: center;
    text-align: center;
    text-align: justify;
}

.vission h1{
   color: rgb(128, 41, 41);
   text-align: center;
   margin-top: 50px;
}
.vission p{
    margin-top: 15px;
}
.mission p{
    margin-top: 15px;
}

.offgrid img{
    width: 40%;
    margin-left: 17%;
}
.ongrid img{
    width: 40%;
    margin-left: 17%;
}
.netmetering img{
    width: 40%;
    margin-left: 17%;
}
.hybrid img{
    width: 40%;
  
    margin-left: 17%;
}

.loc1 img{
    width: 50%;
    height: 50%;
    
}

.address1{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    text-align: center;
}
.address2{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    text-align: center;
}
.phone{
    font-size: 10px;
}

.icons a{
    color: black ;
    font-size: 20px;
}



.services-bg{
   background-color: whitesmoke;
}

.sec-icon {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0 auto;
  }
  
  .sec-icon::before {
    content: "";
    position: absolute;
    height: 1px;
    left: -70px;
    margin-top: -5.5px;
    top: 60%;
    background: #333333;
    width: 50px;
  }
  
  .sec-icon::after {
    content: "";
    position: absolute;
    height: 1px;
    right: -70px;
    margin-top: -5.5px;
    top: 60%;
    background: #333;
    width: 50px;
  }
  
  .advertisers-service-sec {
    background-color: #f5f5f5;
  }
  
  .advertisers-service-sec span {
    color: rgb(255, 23, 131);
  }
  
  .advertisers-service-sec .col {
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  
  .advertisers-service-sec .service-card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    z-index: 2;
    overflow: hidden;
    background: #fff;
  }
  
  .advertisers-service-sec .service-card::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(#0dcaf0, rgb(255, 23, 131));
    position: absolute;
    left: 0%;
    top: -98%;
    z-index: -2;
    transition: all 0.4s cubic-bezier(0.77, -0.04, 0, 0.99);
  }
  
  .advertisers-service-sec h3 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
    z-index: 3;
  }
  
  .advertisers-service-sec p {
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    z-index: 3;
  }
  
  .advertisers-service-sec .icon-wrapper {
    background-color: #2c7bfe;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
    z-index: 3;
  }
  
  .advertisers-service-sec .service-card:hover:after {
    top: 0%;
  }
  
  .service-card .icon-wrapper {
    background-color: #ffffff;
    color: rgb(255, 23, 131);
  }
  
  .advertisers-service-sec .service-card:hover .icon-wrapper {
    color: #0dcaf0;
  }
  
  .advertisers-service-sec .service-card:hover h3 {
    color: #ffffff;
  }
  
  .advertisers-service-sec .service-card:hover p {
    color: #f0f0f0;
  }
  /* ADVERTISERS SERVICE CARD ENDED */
  