body {
    font-family: sans-serif !important;
  
    font-size: 18px !important;
  
    
  }
 


.navbar{
    background-color: grey;
    text-transform: uppercase;
}

.logo{
    border-radius: 50%;
    width: 70px;
}



.ceo-info{
    text-align: center;
    font-size: 15px;
    word-spacing: 2px;
    text-align: justify;
}

.ceo-info h1{
    margin-top: 40px;
    font-family: serif;
}

.ceo-info h6{
    margin-top: 30px;
}

.ceo-info p{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.md-info h1{
    margin-top: 40px;
    font-family: serif;
}

.md-info h6{
    margin-top: 30px;
}

.md-info p{
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.team-info{
    background: linear-gradient(342deg, rgba(127, 127, 28, 1) 0%, rgba(130, 116, 80, 1) 32%, rgba(26, 24, 26, 1) 100%);
    border-radius: 20px;
}

.row-1{
    text-align: center;
}

.row-1 img{
    border-radius: 100px;
}

.row-2{
    text-align: center;
}

.row-1 p{
    margin-top: 20px;
}

.row-2 p{
    margin-top: 20px;
}

footer{
    background-color: black;
}

.ftimg img{
    border-radius: 50%;
    width: 40%;
    
}
.fa{
    font-size: 10px;
    padding: 15px;
    text-decoration: none;
    
}

.info{
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: 'Times New Roman', Times, serif;
  
}