
.navbar{
    background-color: rgb(233, 141, 21);
    text-transform: uppercase;
}

.nav-btn{
    border: none;
    background-color:rgb(233, 141, 21) ;
    
}

.logo {
    border-radius: 50%;
    width: 70px;
}



.team-info{
    background: linear-gradient(342deg, rgb(245, 171, 59) 0%, rgb(221, 203, 39) 32%, rgb(192, 130, 192) 100%);
    border-radius: 20px;
}

.row-1{
    text-align: center;
}

.row-1 img{
    border-radius: 20px;
}

.row-2 img{
    border-radius: 20px;
}
.row-2{
    text-align: center;
}

.row-1 p{
    margin-top: 10px;
}

.row-2 p{
    margin-top: 10px;
}
















.teamvission h2{
    text-align: center;
    color: red;
}
.teamvission p{
    text-align: center;
    text-align: justify;
}

  /* FOOTER */
  .footer-section {
    background: #151414;
    position: relative;
  }
  .footer-cta {
    border-bottom: 1px solid #373636;
  }
  .single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
  }
  .cta-text {
    padding-left: 15px;
    display: inline-block;
  }
  .cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  .cta-text span {
    color: #757575;
    font-size: 15px;
  }
  .footer-content {
    position: relative;
    z-index: 2;
  }
  .footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
  }
  .footer-logo {
    margin-bottom: 30px;
  }
  .footer-logo img {
      max-width: 200px;
  }
  .footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
        color: #7e7e7e;
    line-height: 28px;
  }
  .footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }
  .footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }
  .footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }
  
  
  
  
  
  
  
  
  .copyright-area{
    background: #202020;
    padding: 25px 0;
  }
  .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
  }
  .copyright-text p a{
    color: #ff5e14;
  }




  /* team css */

  section {
    position: relative;
    width: 100%;
  }
  
  .title {
    padding: 30px 160px;
    font-family: "Krona One", "sans-serif";
    font-size: 4em;
    animation: appear 0.5s ease backwards;
    animation-delay: 0.5s;
  }
  
  .title1 {
    -webkit-text-stroke: 0.5px #fff;
    -webkit-text-fill-color: black;
  }
  
  .title1:hover {
    -webkit-text-fill-color: #fff;
  }
  
  .title2 {
    -webkit-text-fill-color: #fff;
  }
  
  .title2:hover {
    -webkit-text-stroke: 0.5px #fff;
    -webkit-text-fill-color: black;
  }
  
  /*Animación*/
  @keyframes appear {
    to {
      opacity: 1;
      transform: translateY(0);
    }
    from {
      opacity: 0;
      transform: translateY(50px);
    }
  }
  
  .contenedor {
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
    padding: 0 180px;
    animation: appear 0.5s ease backwards;
    animation-delay: 1s;
    display: flex;
    justify-content: space-between;
    transform-style: preserve-3d;
  }
  
  .contenedor .box {
    position: relative;
    width: 380px;
    height: 380px;
    transform-style: preserve-3d;
  }
  
  .contenedor .box:hover {
    box-shadow: 0 50px 80px rgba(255, 255, 255, 0.3);
  }
  
  .contenedor .box .imgBX {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  
  .img1 {
    background-image: url(assets/Ali.jpg) ;
    border-radius: 20px;
}
  
  .img2 {
    background-image: url(assets/cto.jpg);
    border-radius: 20px;
  }
  
  .img3 {
    background-image: url(assets/md.jpg);
    border-radius: 20px;
  }
  
  .contenedor .box .contentBx {
    position: absolute;
    top: 50%;
    left: 35px;
    right: 35px;
    background: rgba(255, 111, 108, 0.8);
    border-radius: 5px;
    transform: translateZ(20px) scaleY(0);
    transform-origin: top;
    text-align: center;
    padding: 30px 18px;
    transition: 0.5s;
    transform-style: preserve-3d;
  }
  
  .contenedor .box:hover .contentBx {
    transform: translateZ(50px) scaleY(1);
  }
  
  .contentBx h2 {
    font-family: "Krona One";
    text-transform: lowercase;
  }
  
  .contentBx h3 {
    font-family: "Barlow Condensed";
    margin-bottom: 0.5em;
    color: #000;
  }
  
  .contentBx p {
    font-family: "Roboto";
    margin-bottom: 1.5em;
    color: #000;
  }
  
  .contentBx .followme {
    font-family: "Barlow";
    color: #fff;
  }
  
  .contentBx .followme a {
    color: #fff;
    text-decoration: none;
    font-family: "Barlow";
  }
  
  .contentBx .followme i {
    color: #fff;
    font-size: 2em;
  }

 
  
  footer a {
    color: #ff6f6c;
    font-family: "Roboto";
    text-decoration: none;
  }
  
  @media screen and (max-width: 1370px) {
    .title {
      font-size: 3em;
      padding: 30px 100px;
    }
    
    .contenedor {
      padding: 0 100px;
    }
    .contenedor .box {
      width: 300px;
      height: 300px;
    }
    .contenedor .box .contentBx {
      top: 45%;
      left: 25px;
      right: 25px;
      transform: translateZ(20px) scaleY(0);
      padding: 20px 10px;
    }
    
    footer {
      padding: 0 100px;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .title {
      padding: 30px 70px;
    }
    .contenedor {
      margin: 40px 0;
      padding: 0 90px;
    }
    footer {
      padding: 0 90px;
    }
  }
  
  @media screen and (max-width: 970px) {
    .title {
      padding: 30px 40px;
    }
    .contenedor {
      margin: 30px 0;
      padding: 0 60px;
    }
  
    .contenedor .box {
      width: 250px;
      height: 250px;
    }
  
    footer {
      padding: 0 60px;
    }
  }
  
  @media screen and (max-width: 870px) {
    .contenedor {
      flex-direction: column;
    }
  
    .contenedor .box {
      width: 280px;
      height: 280px;
      margin-bottom: 60px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .title {
      font-size: 2em;
    }
  }

  .main-team{
  
    background: radial-gradient(#16222A, #3A6073);

    color: #fff;
  
}

.core-team h2{
    text-align: center;
    color: black;
    text-transform: uppercase;
}



h1{
  text-align:center;
  padding-top:3em;
  font-size:50px;
  font-family:orbitron;
}

/*set up the container to be responsive columns that push down to a single column layout*/
.team-section{
	margin:100px auto 100px;
	display:grid;
	/*minimum size  350px, maximum size 1fr of the viewport*/
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap:10px;
  
}

.card{
	z-index:0;
	margin: 0 auto;
	position:relative;
	width:350px;
	background-color:#333;
	padding:20px;
  
	text-align:center;
	box-shadow: 0 10px 40px rgba(28, 133, 219, 0.5);
	overflow:hidden;
}

.layer{
	z-index:1;
	position:absolute; /*position away from .card & .content*/

	top: calc(100% - 2px); /*pushes up the layer by 2px to appear as border-bottom on card by default*/
	left:0;
	width:100%;
	height:100%;
	background: linear-gradient(#43cea2, #185a9d);

	transition:0.5s;/*sets up for animation*/
}

/*cursor for hovering over card*/
.card:hover{
	cursor:pointer;
}
/*when hovering over card, .layer will move up to the top of parent container .card */
.card:hover .layer{
	top:0;
}

.content{
	z-index:3;
	/*content is relative to parent card to allow text to appear on top of .Layer (absolute)*/
	position:relative;
}

.content p{
	font-size:1em;
	line-height:1.5em;
	color:#0a0909;
}

/*turn image holder into circle*/
.content .image{
	width:150px;
	height:150px;
	border-radius:50%;
	overflow:hidden;
	margin: 0 auto;
	border:4px solid white;
	box-shadow: 0 6px 20px rgba(0,0,0,.5);
	margin-top:10px;
	margin-bottom:50px;
}

/*move image to acknowledge click*/
.image:active{
	position:relative;
	top:3px;
}

/*reduce size of image*/
img{
	width:150px;
	height:150px;
}

/*style name and position title */
.content .details h2{
	font-size:1.2em;
	color:rgb(12, 10, 10);
}
.content .details h2 span{
	font-size:1em;
	color:#2980b9;
	font-weight:100;
	transition:0.5s;
}

/*when hovering .card, change colour of text*/
.card:hover .content h2 span{
	color:white;
}
.wrapper {
  max-width: 700px;
  margin: 60px auto;
  text-align: center;
}





@-webkit-keyframes loading-anim {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading-anim {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.team-section{
 background-color: #e5eaee;
}

.team-section h1{
  margin-top: -170px;
}

